{{>_header}}

   {{>_navbar}}

   <div class="container mt-4">

      {{#if error}}
         <div class="alert alert-danger">{{error}}</div>
      {{else}}

      {{/if}}

      {{>_msg}}
      {{{body}}}
   </div>
   
{{>_footer}}